.bold {
    font-weight: bold;
}

.link {
    color: red;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 35px;
}
.menu {
    width: 1170px;
    text-align: center;
    margin: 20px auto;
}
header {
    text-align: center;
}

.box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 30px 0;
    padding: 10px 0 0 20px;
}
.background-img{
    width: 100%;
    height: auto;
}
.info{
    text-align: center;
    padding: 30px 70px;
}
.title{
    text-transform: uppercase;
}
.paragraph{
    margin-bottom: 40px;
}
.btn{
    background-color: red;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}


