.logo {
    font-size: 42px;
}

.logo-accent {
    color: #4BCAFF;
    margin-left: -9px;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.navigation {
    margin-top: 38px;
    background-color: #35444F;
    margin-bottom: 36px;
}

.menu {
    list-style: none;
    text-align: center;
    font-size: 0;
}

.menu li {
    display: inline-block;
    /*padding: 0 70px;*/
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    padding: 12px 30px;
    /*font-size: 42px;*/
}

.menu-link:hover {
    background-color: #222F3A;
}

.navigation-wrapper {
    border: 1px solid #222F3A;
    width: 290px;
    display: inline-block;

}

.side-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.side-menu-link {
    text-decoration: none;
    padding: 25px 0 25px 44px;
    display: block;
    color: black;
    font-size: 20px;
    transition: all 300ms;
}

.side-menu-link:hover {
    background-color: lightblue;
    padding-left: 75px;
}

.article {
    border: 1px solid black;
    display: inline-block;
    width: 871px;
    vertical-align: top;
}




